In [3]:
import quandl

In [4]:
mydata = quandl.get("EIA/PET_RWTC_D")

In [5]:
mydata.head()

            Value
Date
1986-01-02  25.56
1986-01-03  26.00
1986-01-06  26.53
1986-01-07  25.85
1986-01-08  25.87

In [7]:
# 404
# https://www.quantopian.com/posts/quandl-dropping-goog-and-yahoo-databases
mydata = quandl.get("YAHOO/INDEX_DJI", start_date="2005-12-01", end_date="2005-12-05")